.row{
	background: #babab;
}

header,
section.grids{
    max-height:100vh;
    overflow-y:hidden;
}

.grids,
.grids .row {
    height: 100vh;
    background:#7E8BA9;
    width:100%;
}

.brand-centered {
     display: block;
    position: relative;
    /* width: 100%; */
    height: 40vh;
    line-height: 1em;
    margin: 0;
    font-size: 12px;
    float: none;
    width:100%;
}

a.sidebar-brand {
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0; */
    /* right: 0; */
    /* background: #fff; */
    width: 100%;
    padding: 30px;
    line-height: 1em;
    text-align: center;
    vertical-align: center;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    /*background: url('http://bcsilva.com/images/logo-bcsilva.png') no-repeat center center;*/
    background: url('http://placehold.it/350x350') no-repeat center center;
    background-size: contain;
}

.brand-centered {}

.navbar-collapse.collapse.sidebar-navbar-collapse,
ul.nav.navbar-nav {
    height: 100% !important;
}

.sidebar-nav .navbar li{
    height:25%;
}

.sidebar-nav .navbar li a,
.sidebar-nav .navbar li span{
    width: 100%;
    height: 100%;
    font-size: 3rem;
    padding-left: 1.5em;
    /* display: block; */
    /* line-height: 100%; */
    display: flex;
    align-items: center;
    text-align: left;
}

a.navbar-brand h1{
    visibility: hidden;
}

/*tamanho dos itens da grid - começa*/
.grid-item {
    display: block;
    position: relative;
    width: 25%;
    height: 33.33333333333333%;
    line-height: 1em;
    margin: 0;
    font-size: 12px;
    float: left;
    background:#7E8BA9;
    overflow: hidden;
}

/*.grid-item:before {
    content: "";
    display: block;
    padding-top: 100%;
}*/

.grid-item>.content {
    /*position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
    background: #7E8BA9;
    padding: 0px;
    height: 100%;
    line-height: 1em;
    opacity: .5;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.grid-item>.content .bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.grid-item>.content .caption {
    background-color:#7E8BA9;
    width: 100%;
    width: calc(100% + 1px);
    height: 100%;
    height: calc(100% + 1px);
    color:#fff;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    opacity:0;
}

.grid-item>.content .caption {
    display: table;
    vertical-align: middle;
}

.grid-item>.content .caption .text {
    display: table-cell;
    vertical-align: middle;
}

.grid-item:hover .content{
    opacity:1;
} 

.grid-item:hover .content .caption{
    opacity:1;
}

/*tamanho dos itens da grid - termina*/

.home .nav .current{
    display: none;
}

span.calltoaction a {
    width:45px;
    height:45px;
    position: absolute;
    top:0;
    right:0;
    background : 
        linear-gradient(
            225deg, 
            #fff, 
            #f3f3f3 45%, 
            #ddd 50%, 
            #aaa 50%, 
            #bbb 56%, 
            #ccc 62%, 
            #f3f3f3 80%,
            #fff 100%
        );
    box-shadow : 0 0 10px rgba(0,0,0,0.5);
    transition: all .5s ease;
    color: #fff;
    text-indent: 9999px;
    font-size: 24px;
    padding-top: 1em;
    padding-right: 1em;
    text-align:right;
    text-decoration:none;
}

span.calltoaction a:before,
span.calltoaction a:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12.5%;
    bottom: 5.8%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    transform: skew(-10deg) rotate(-6deg);
}

span.calltoaction a:after {
    left: auto;
    right: 5.8%;
    bottom: auto;
    top: 14.16%;
    transform: skew(-15deg) rotate(-84deg);
}

span.calltoaction a:hover {
    width: 35%;
    height: 35%;
    color: #666;
    text-indent:0;
}

span.calltoaction a:hover:before,
span.calltoaction a:hover:after {
    box-shadow: 0 24px 30px rgba(0, 0, 0, 0.3);
}

/* make sidebar nav vertical */ 
@media (max-width: 1199px) {

    .grid-item {
        display: block;
        position: relative;
        width: 33.33333333333333%;
        height: 33.33333333333333%;
        line-height: 1em;
        margin: 0;
        font-size: 12px;
        float: left;
        overflow: hidden;
    }

    .grid-item:nth-child(n+10){
        display:none;
    }
    .brand-centered {
        display: block;
        position: relative;
        width: 100%;
        height: 10vh;
        line-height: 1em;
        margin: 0;
        font-size: 12px;
        float: left;
    }
    a.navbar-brand {
        width: 100%;
        height: 100%;
    }
    .navbar.navbar-default {
        height: 10vh;
        width: 75%;
        float: right;
        margin: 0;
    }
    .grids {
        height: 90vh;
    }
}
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* CSS vista informacion*/

 	/* Conatct start */

        .header-title
        {
          text-align: center;
          color:#00bfff;
        }

        #tip 
        {
            display:none;  
        }

        .fadeIn
        {
          animation-duration: 3s;
        }

        .form-control
        {
        	border-radius:0px;
        	border:1px solid #EDEDED;
        }

        .form-control:focus
        {
        	border:1px solid #00bfff;
        }

        .textarea-contact
        {
        	resize:none; 
        }

        .btn-send
        {
        	border-radius: 0px;
        	border:1px solid #00bfff;
        	background:#00bfff;
        	color:#fff; 
        }

        .btn-send:hover
        {
        	border:1px solid #00bfff;
        	background:#fff;
        	color:#00bfff;
        	transition:background 0.5s;   
        }

        .second-portion
        {
        	margin-top:50px; 
        }

		        @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
		@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

		.box > .icon { text-align: center; position: relative; }
		.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
		.box > .icon:hover > .image { background: #333; }
		.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
		.box > .icon:hover > .image > i { color: white !important; }
		.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
		.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
		.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
		.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
		.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
		.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
		.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
		.box .space { height: 30px; }

		@media only screen and (max-width: 768px)
		{
			.contact-form
			{
				margin-top:25px; 
			}

			.btn-send
			{
				width: 100%;
				padding:10px; 
			}

			.second-portion
			{
				margin-top:25px; 
			}
		}
	/* Conatct end */

/* Home */

.carousel {
   
    overflow: hidden;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}
.item:nth-child(1) {
  background: darkred;
}

.item:nth-child(2) {
  background: red;
}

.item:nth-child(3) {
  background: orange;
}

/* /Home */